.auth-popup-buttons {
  border:var(--ion-color-apptheme-contrast) 3px solid;
    --color: var(--ion-color-apptheme-contrast);
    --background: var(--ion-color-apptheme);
    --border-radius: 0px;
    --background-activated: var(--ion-color-apptheme-shade);
}
ion-content {
  text-align: center;
}
