/* Add Styles Here */
body{
    background-color: whitesmoke;
}

.menu {
    display: inline-block;
    border: 1px solid #118A0F;
    height: 50vh!important; 
    background-color: #118A0F;
}
.title {
    height: 10vh;
    width: 100vw;
}
body {
    background-color: rgb(97, 86, 86);
}
.Map{
    width: 200px;
}

/*#loginSignup {
    float: right; 
    display: block;
}*/

#header {
    height: 5em;
    background-color: #118A0F;
}

#separator {
    height:2em;
}

#logo img {
    margin: 10px;
    height: 59px;
}

#map {
    width: 100%; 
    height: 50vh; 
}

#map img {
    width: 100%;
}

.mw-90 {
    max-width: 90%!important;
}

.text {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 50px;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#invite {
    display: none; 
}

.margin {
    margin-right: 1em!important;
}

.groupbtn {
    margin: 0.5em;
}


.gHeader {
    font-size: x-large;
}

#m {
    height: 60%; 
}

.spacer {
    height: 30vh!important;
}