/* Add Styles Here */
table {
    display: inline-block;
  
}
.title {
    border: 1px solid green;
    background-color: green;
    height: 10vh;
    width: 100vw;
}
body {
    background-color: rgb(97, 86, 86);
}
.Map{
    width: 200px;
}
.sidebar {
    border: 1px solid green;
    height: 50vh;
    background-color: green
}