ion-col {
  text-align: center;
}

ion-title {
  font-size: 40px;
}

ion-list {
  border: 2px solid #dedede;
}

ion-label {
  text-align: center;
}

ion-row {
  padding-bottom: 5%;
}

.group-list-buttons {
  border:var(--ion-color-apptheme-contrast) 3px solid;
    --color: var(--ion-color-apptheme-contrast);
    --background: var(--ion-color-apptheme);
    --border-radius: 0px;
    --background-activated: var(--ion-color-apptheme-shade);
}

