<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-title>{{ type }}</ion-title>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-select multiple="true" placeholder="Location Type" [value]="['restaurant']" [(ngModel)]='mapsService.locationType'>
          <ion-select-option value="restaurant">Restaurants</ion-select-option>
          <ion-select-option value="park">Parks</ion-select-option>
          <ion-select-option value="cafe">Cafés</ion-select-option>
          <ion-select-option value="bar">Bars</ion-select-option>
          <ion-select-option value="gym">Gyms</ion-select-option>
          <ion-select-option value="movie_theater">Movie Theatres</ion-select-option>
          <ion-select-option value="museum">Museums</ion-select-option>
          <ion-select-option value="shopping_mall">Shopping Malls</ion-select-option>
          <ion-select-option value="tourist_attraction">Tourist Attractions</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
<!--
    <ion-row>
      <ion-col>
        <ion-select placeholder="Sort By">
          <ion-select-option value="userReview">Avg. User Review</ion-select-option>
          <ion-select-option value="priceDown">Price (Descending)</ion-select-option>
          <ion-select-option value="priceUp">Price (Ascending)</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
-->
  </ion-grid>
</ion-content>
