ion-content {
  --ion-background-color: var(--ion-color-apptheme);
  --ion-text-color: var(--ion-color-apptheme-contrast);
}

.menu-buttons {
  --color: var(--ion-color-apptheme);
  --background: var(--ion-color-apptheme-contrast);
  --background-activated: var(--ion-color-apptheme-contrastShade);
  --border-radius: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-toggle-button {
  --color: var(--ion-color-apptheme);
  --background: var(--ion-color-apptheme-contrast);
  --border-radius: 25px;
  --background-activated: var(--ion-color-apptheme-contrastShade);
  width: 130%;
}

ion-title {
  text-align: center;
  font-size: 38px;
}
