<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title class="centeredText">{{ type }}</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Name:
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Address:
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Today's Hours:
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Telephone:
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
