<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>{{ type }}</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngIf="mapService.hasVoted == false">
        <ion-list>
          <ion-item *ngFor="let place of mapService.currentPlaces">
            <ion-label>{{place.data.name}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="place.voted"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="mapService.hasVoted == true">
        <ion-list>
          <ion-item *ngFor="let place of mapService.currentPlaces">
            <ion-text>Votes For: </ion-text><br><br>
            <ion-label>{{place.data.name + " = " + place.totalVotes}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngIf="mapService.hasVoted == false">
        <ion-button class="voting-popup-button" (click)="submitVote('submit')">Submit Vote</ion-button>
      </ion-col>
      <ion-col *ngIf="mapService.hasVoted == true">
        <ion-button class="voting-popup-button" (click)="submitVote('change')">Change Vote</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
