<ion-content>

  <ion-grid fixed=true>

    <ion-row>
      <ion-col>
          <ion-img src="../../../assets/MeetMapsLoginLogo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-title>MeetMaps</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="user-auth-buttons" (click)="popop('Sign Up')">Sign Up</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="user-auth-buttons" (click)="login()">Log In</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
