ion-grid {
  margin-top: 10vw;
  //@warn: 4px #FF0000 solid;
}

ion-row {
  //border: 4px #FFFF00 solid;
}

ion-col {
  text-align: center;
  //border: 4px #FF00FF solid;
}

ion-button {
  width: 120px;
}
