ion-grid {
  margin-top: 10vw;
  //@warn: 4px #FF0000 solid;
}

ion-row {
  //border: 4px #FFFF00 solid;
}

ion-col {
  text-align: center;
  //border: 4px #FF00FF solid;
}

.user-auth-buttons {
  border:var(--ion-color-apptheme-contrast) 3px solid;
    --color: var(--ion-color-apptheme-contrast);
    --background: var(--ion-color-apptheme);
    --border-radius: 0px;
    --background-activated: var(--ion-color-apptheme-shade);
    width: 50%;
}
