<p>
  {{ UserDataService.user.username }}
</p>

<ion-grid>

  <ion-row>
    <ion-col>
        <ion-title>Inbox</ion-title>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

      <ion-list>

        <ion-item lines="full">
          <ion-label>
            Example Group 1
            <ion-button><ion-icon name="checkmark-outline"></ion-icon></ion-button>
            <ion-button><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label>
            Example Group 2
            <ion-button><ion-icon name="checkmark-outline"></ion-icon></ion-button>
            <ion-button><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label>
            Example Group 3
            <ion-button><ion-icon name="checkmark-outline"></ion-icon></ion-button>
            <ion-button><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-label>
        </ion-item>

      </ion-list>

    </ion-col>
  </ion-row>

</ion-grid>
