<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-header> {{ userDataService.currentGroup.name }} </ion-header>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

          <ion-select multiple="false" placeholder="Location Type" [value]="['restaurant']" [(ngModel)]='mapService.locationType'>
            <ion-select-option value="restaurant">Restaurants</ion-select-option>
            <ion-select-option value="park">Parks</ion-select-option>
            <ion-select-option value="cafe">Cafés</ion-select-option>
            <ion-select-option value="bar">Bars</ion-select-option>
            <ion-select-option value="gym">Gyms</ion-select-option>
            <ion-select-option value="movie_theater">Movie Theatres</ion-select-option>
            <ion-select-option value="museum">Museums</ion-select-option>
            <ion-select-option value="shopping_mall">Shopping Malls</ion-select-option>
            <ion-select-option value="tourist_attraction">Tourist Attractions</ion-select-option>
          </ion-select>
      </ion-col>
<!--
          <ion-button class="invite-button" (click)="popup('Voting')">
            <ion-icon slot="start" name="stats-chart-outline"></ion-icon>Vote
            <ion-badge slot="end">1</ion-badge>
          </ion-button>
-->
      <ion-col>
          <ion-button class="invite-button" (click)="meetup()">Let's Meet</ion-button>
      </ion-col>
    </ion-row>

    <ion-row id="clickPin">
      <ion-col>
        <ion-text>Click the blue pins to learn more!</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col id="mapCol">
        <google-map
        #myMap="googleMap"
        width='100vw'
        height="55vh"
        [zoom]="mapService.zoom"
        [center]="mapService.center"
        [options]="mapService.options">
          <map-marker
            *ngFor="let marker of mapService.markers"
            [position]="marker.position"
            [label]="marker.label"
            [options]="marker.options"
            [clickable]="true"
            (mapClick)="showLocationInfo(marker.color, marker.label.text)">
          </map-marker>
        </google-map>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="invite-button" (click)="popup('Invite')">Invite Member</ion-button>
      </ion-col>
      <ion-col>

        <ion-button class="invite-button" (click)="popup('Members')">Members List</ion-button>
      </ion-col>
      <ion-col>

        <ion-button class="invite-button" (click)="leaveGroup()">Remove Group</ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
