<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-header> {{ userDataService.currentGroup.name }} </ion-header>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-header>

          <ion-button class="invite-button" (click)="popop('Filters')">
            <ion-icon slot="start" name="options-outline"></ion-icon>Filters
          </ion-button>

          <ion-button class="invite-button" (click)="popop('Voting')">
            <ion-icon slot="start" name="stats-chart-outline"></ion-icon>Vote
            <ion-badge slot="end">1</ion-badge>
          </ion-button>

          <ion-button class="invite-button" (click)="meetup()">Let's Meet</ion-button>

        </ion-header>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <google-map
        #myMap="googleMap"
        height="55vh"
        [zoom]="mapService.zoom"
        [center]="mapService.center"
        [options]="mapService.options">
          <map-marker
            *ngFor="let marker of mapService.markers"
            [position]="marker.position"
            [label]="marker.label"
            [options]="marker.options"
            [clickable]="true"
            (mapClick)="popop('Location')">
          </map-marker>
        </google-map>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="invite-button" (click)="popop('Invite')">Invite Member</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="invite-button" (click)="userDataService.leaveGroup()">Leave Group</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
