<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-header> {{ userDataService.currentGroup.name }} </ion-header>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-header>

          <ion-button class="invite-button" (click)="popop('Filters')">
            <ion-icon name="options-outline"></ion-icon>
          </ion-button>

          <ion-button class="invite-button" (click)="popop('Voting')">
            <ion-icon name="stats-chart-outline"></ion-icon>
          </ion-button>

          <ion-button class="invite-button" (click)="mapService.meetup(userDataService.currentGroupMembers, map)">Let's Meet</ion-button>

        </ion-header>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <google-map
        height="55vh"
        [zoom]="mapService.zoom"
        [center]="mapService.center"
        [options]="mapService.options">
          <map-marker
            *ngFor="let marker of mapService.markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options">
          </map-marker>
        </google-map>
        <div id="map"></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="invite-button" (click)="popop('Invite')">Invite Member</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="invite-button" (click)="userDataService.leaveGroup()">Leave Group</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
