ion-content {
  --ion-background-color: var(--ion-color-apptheme);
  --ion-text-color: var(--ion-color-apptheme-contrast);
  text-align: center;
}

ion-button {
  --color: var(--ion-color-apptheme);
  --background: var(--ion-color-apptheme-contrast);
  --border-radius: 25px;
}
