<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title>What is Meet Maps?</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text>Finding it difficult to meet with friends? Meet Maps let's you conviently plan meetup's with friends by locating the top 5 closest destinations to the center of your group. Now you can spend less time <i>getting</i> together, and more time <i>actually</i> together!</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-title>How to start?</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>1. Create a group</ion-item>
        <ion-item>2. Invite some friends</ion-item>
        <ion-item>3. Get your friends to accept the invite in their inbox</ion-item>
        <ion-item>4. Click "Meetup"</ion-item>
        <ion-item>5. Select a blue pin to learn more and choose your meeting spot!</ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="close()">Let's Go!</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
